<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="Conexion"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=P2526_Irene_Biblioteca;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="UltimaVista" value="Autores"/>
		<add key="RecordarUsuario" value="false"/>
		<add key="Tema" value="Azul"/>
	</appSettings>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-17.0.0.0" newVersion="17.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>